.btn-salv{
    @include d-flex(row);
    @include btn-radius(0.3rem);
    padding: 10px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    cursor: pointer;
    box-sizing: content-box;

    &:active{
        background-color: #000000;
        color: #FFFFFF
    }
}