.configurador{
    @include d-flex(column);

    i{
        cursor: pointer;
        transition: color .2s ease-in-out
    }

    i:hover{
        color: #337ab7;
    }

    #mensagem{
        width: 0;
        overflow: hidden;
        transition: width .4s ease-in-out;

        p{
            min-width: 165px;
        }
    }
}