.input-search{
    @extend %no-select;
    flex-wrap: nowrap!important;
    input{
        width: 87%!important;

        @media (max-width: 992px){
            max-width: 91%!important;
        }
    }

    i{
        flex-basis: 10%!important;
        padding: 2px;
        border-bottom: 1px solid #ced4da;
        cursor: pointer;
        transition: color .2s ease-in-out;

        @media (max-width: 992px){
            max-width: 9%!important;
        }
    }

    i:hover{
        color: #337ab7;
    }
}