.logo{
    img{
        height: 130px;
        padding: 10px;
        box-sizing: border-box;
    }

    @media (max-width: 992px){
        @include d-flex(row);
        justify-content: center;
    }
}