.select{
    @include d-flex(column);
    min-height: 40px;
    position: relative;
    //background-color: tomato;
    transition: color .2s ease-in-out;
    border-bottom: 1px solid #ced4da;

    .selecionado-color,
    .selecionado-font,
    .selecionado-racas{
        @include d-flex(row);
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 5px;
        width: 100%;
        height: 40px;
        
        &:hover{
            cursor: pointer;
            color: #337ab7;
        }

        p{
            margin: 0;
        }

        i{
            @extend %no-select;
            transform: rotate(90deg);
            transition: all .2s ease-in-out;
        }
    }

    ul{
        width: 100%;
        //position: absolute;
        //top: 40px;
        margin: 0;
        height: 0;
        list-style: none;
        overflow: hidden;
        transition: all .3s ease-in-out;
        //background-color: tomato;
        padding: 0;

        li{
            padding: 5px 5px 5px 5px;
            &:hover{
                cursor: pointer;
                color: #337ab7;
                background-color: rgb(219, 218, 218);
            }
        }

        .color-li{
            @include d-flex(row);
            span{
                display: block;
                width: 30px!important;
                height: 30px!important;
                padding: 3px;
            }

            p{
                margin: 0;
            }
        }
    }
}

.select-racas{
    position: absolute;
    top: 70px;
    z-index: 100;
    width: 93%;
    background-color: #ced4da;
    

    #lista-selecionavel-racas{
        overflow-y: scroll;
    }
}