.titulo{
    font-size: 3rem;
    font-weight: 600;
    
    @media (max-width: 992px){
        text-align: center;
        margin-top: 30px;
    }
}

#pagina-titulo{
    @media (max-width: 992px){
        justify-content: center!important;
    }
}