body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
         'page';
    margin: 0;
}

main{
    grid-area: page;
}

i{
    font-family: 'Material Icons';
}